/* Backgrounds */
.bg-lofi{
    background-color: #090924 !important;
}
.bg-so-dark-blue{
    background-color: #eeeeee !important; 
}
/* Banner text and icons */
.main-banner{
    width: 100%;
    height: 500px;
    background-image: url("../img/header-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
i.social-icons{
    color: white;
}
i:hover{
    color: gray;
}
/* Usages */
.shadow-text{
    text-shadow: 1px 1px 1px #000;
}
.main-text{
    font-size: 300%;
}
.social-icons{
    letter-spacing: 10px;
}
.height-50{
    height: 50px;
}

/* Footer */
a.footer:hover{
    color: gray;
}
a.footer{
    color: white;
}